<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="chat_gpt_root_menu"
        name="ChatGPT"
        action="action_chatgpt_config"
        sequence="0"
    />

    <menuitem id="chat_gpt_config_master"
        name="Sessions Details"
        parent="chat_gpt_root_menu"
        sequence="1"
    />
    
    <menuitem id="chat_gpt_config"
        name="Sessions"
        parent="chat_gpt_config_master"
        sequence="2"
    />
</odoo>